/resources/

# Hugo
_gen/
.hugo_build.lock
public/
/resources/_gen/
resources/_gen/assets/scss/scss/dark-mode.scss_511aa33e99371f93fbf403479ebfd32e.content
resources/_gen/assets/scss/scss/dark-mode.scss_511aa33e99371f93fbf403479ebfd32e.json
resources/_gen/assets/scss/scss/dark-mode.scss_511aa33e99371f93fbf403479ebfd32e.content
resources/_gen/assets/scss/scss/dark-mode.scss_511aa33e99371f93fbf403479ebfd32e.json
